.decoration{
    display:grid;
background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
grid-column: 1/3;
grid-row: 1/3;
}

.decoration div{
    
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
